<section id="conteudoPrincipal">
    <h1 id="TituloRegistro">Lista de Registros</h1>
    <div class="row" style="margin-top: 2%;">
        <div id='container' class="col-md-3">
            {{#each registros}}
                ID: {{id}}<br>
                CPF: {{cpf}}<br>
                Nome: {{nome}}<br>
                Sobrenome: {{sobrenome}}<br>
                Data de Nascimento: {{dataNascimento}}<br>
                Email: {{email}}<br>
                Genero: {{genero}}
                <hr>
            {{/each}}
        <div style="text-align: center; margin-bottom: 2%; margin-top: 2%;">
                <button class="btnPublicar" type="submit">Editar</button>
                <button class="btnPublicar" type="submit">Excluir</button>
        </div>
        </div>
    </div>
</section>